In [74]:
# Importing pandas and matplotlib
import pandas as pd
import matplotlib.pyplot as plt

In [75]:
# Read in the Netflix CSV as a DataFrame
netflix_df = pd.read_csv("netflix_data.csv")

# EDA

In [76]:
netflix_df.head()

  show_id  ...             genre
0      s2  ...            Dramas
1      s3  ...     Horror Movies
2      s4  ...            Action
3      s5  ...            Dramas
4      s6  ...  International TV

[5 rows x 11 columns]

In [77]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4812 entries, 0 to 4811
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       4812 non-null   object
 1   type          4812 non-null   object
 2   title         4812 non-null   object
 3   director      4812 non-null   object
 4   cast          4812 non-null   object
 5   country       4812 non-null   object
 6   date_added    4812 non-null   object
 7   release_year  4812 non-null   int64
 8   duration      4812 non-null   int64
 9   description   4812 non-null   object
 10  genre         4812 non-null   object
dtypes: int64(2), object(9)
memory usage: 413.7+ KB

* There isn't null values on the DataFrame

In [78]:
netflix_df.describe()

       release_year     duration
count   4812.000000  4812.000000
mean    2012.711554    99.566708
std        9.517978    30.889305
min     1942.000000     1.000000
25%     2011.000000    88.000000
50%     2016.000000    99.000000
75%     2018.000000   116.000000
max     2021.000000   253.000000

In [79]:
netflix_df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'duration', 'description', 'genre'],
      dtype='object')

In [80]:
netflix_df['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

* Two unique movie types: Movie, Tv Show

* What was the most frequent movie duration in the 1990s?

In [81]:
netflix_df['type'] == 'Movie';
netflix_df['release_year'] >= 1990;
(netflix_df['release_year'] <= 1999);

In [82]:
# Filtering 90s movies
movies_90s = (
    (netflix_df['release_year'] >= 1990) &
    (netflix_df['release_year'] <= 1999) &
    (netflix_df['type'] == 'Movie')
)
netflix_movies_90s_df = netflix_df[movies_90s]
netflix_movies_90s_df.head()

    show_id   type  ...                                        description     genre
6        s8  Movie  ...  After one of his high school students attacks ...    Dramas
118    s167  Movie  ...  At the center of this engrossing melodrama is ...    Dramas
145    s211  Movie  ...  After a run-in with Richard Grieco, dimwits Do...  Comedies
167    s239  Movie  ...  When a philandering club promoter sets out to ...  Comedies
194    s274  Movie  ...  Raised by a kindly thief, orphaned Jimmy goes ...    Dramas

[5 rows x 11 columns]

In [83]:
# The most frecuent duration:
duration = netflix_movies_90s_df['duration'].value_counts().idxmax()
print('Most frecurnt movie durarion: ', duration)

Most frecurnt movie durarion:  94

* How many  action movies in the 90's are considered short (duration less than 90 minutes)?

In [84]:
short_action_movies = (netflix_movies_90s_df['genre'] == 'Action') & (netflix_movies_90s_df['duration'] < 90)
short_action_90s_movies = netflix_movies_90s_df[short_action_movies]
short_action_90s_movies.head()

     show_id   type  ...                                        description   genre
1288   s2039  Movie  ...  Fifteen years after the Second Impact, apathet...  Action
1698   s2708  Movie  ...  A pugilist from Shantung struggles to rise to ...  Action
2328   s3718  Movie  ...  An officer killed on the job returns to Earth ...  Action
2993   s4787  Movie  ...  Air marshal John Cutter must stop notorious te...  Action
3297   s5299  Movie  ...  During a visit to the Bronx to help out at his...  Action

[5 rows x 11 columns]

In [85]:
short_action_movies.sum()

7

In [86]:
short_movie_count = short_action_movies.sum()
print('Total of short action movies in the 90s: ', short_movie_count)

Total of short action movies in the 90s:  7